# Python

### Index
##### 1. Variables
##### 2. Data Types
##### 3. Mathematical Operations
##### 4. Strings

*Lets Get Started*

# 1. Variables

In [ ]:
x = 5
print(x)

In [ ]:
x = 'Sally'

# Make sure to put letters/words/sentences or strings as we call it, inside quotation marks

print(x)

In [ ]:
# This is called unpacking the variables

a, b, c = 'Apple', 'Banana', 'Cherry'

print(a)

In [ ]:
print(b)

In [ ]:
print(c)

In [ ]:
Animals = ["Cat", "Dog", "Cow"]
x, y, z = Animals

In [ ]:
print(x)
print(y)
print(z)

# 2. Data Types

*Strings (str)* are the letters, words, or the sentences (always surrounded by quotation marks)


*Integers (int)* are the whole numbers


*Floats (float)* are the decimals


*Booleans (bool)* represent either True or False

#### Strings

In [1]:
# Adding strings together is call concatenation

a = 'Earth'
b = ' '
c = 'is'
d = 'beautiful'

print(a + b + c + b + d)

Earth is beautiful

In [ ]:
# Changing 3 from an interger to a string

y = str(3)
print(type(y))

In [ ]:
y+2

#### Integers

In [ ]:
x = '3'
y = int(x)

In [ ]:
print(type(y))

In [ ]:
x+9

#### Floats

In [ ]:
x = 1.3
y = 3
z = float(y)
print(z)

#### Booleans

In [ ]:
text = 'The best things in life are free'
print('free' in text)

In [ ]:
print('expensive' not in text)

Here are some statements which can either be True or False


a == b means a is equal to b



a != b means a is NOT equal to b



a > b means a is greater than b



a >= b means a is greater than OR equal to b



a < b means a is less than b



a <= b means a is less than OR equals to b

In [ ]:
x = 5==6
print(x)

In [ ]:
print(type(x))

In [ ]:
import numpy as np

y = np.pi >= 3
print(y)

In [ ]:
print(type(y))

In [ ]:
x = bool(0)
y = bool()
z = bool('d')
print(x)
print(y)
print(z)

# 3. Mathematial Operations

###### Additon & Subtraction

In [1]:
a = 4.3
b = 1.3
c = a + b
print(c)

5.6

###### Multiplication and Divison

In [2]:
a = 4.3
b = 1.3
c = a * b
print(c)

5.59

In [3]:
d = a / b
print(d)

3.3076923076923075

In [4]:
e = a // b
print(e)

3.0

###### Exponent

In [ ]:
f = a ** b
print(f)

###### Advanced Operations

Sum of elements of a list

In [ ]:
import numpy as np

a = [1,2,3]
np.sum(a)

Dot product of a and b

In [ ]:
b = [6,7,8]
np.dot(a,b)

Cross product of a and b

In [ ]:
np.cross(a,b)

# 4. Strings

In [ ]:
txt = 'Pluto IS a planet! Vote for Pluto'

In [ ]:
txt1 = txt.upper()
print(txt1)

In [ ]:
txt2 = txt.lower()
print(txt2)

In [ ]:
txt3 = txt.replace('a planet', 'not a planet')
print(txt3)